In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('/root/data/raw/drive_and_act/iccv_activities_3s/activities_3s/inner_mirror/midlevel.chunks_90.csv')

In [12]:
df[df['file_id'] == 'vp1/run1b_2018-05-29-14-02-47.ids_1']

,participant_id,file_id,annotation_id,frame_start,frame_end,activity,chunk_id
0,1,vp1/run1b_2018-05-29-14-02-47.ids_1,0,82,117,standing_by_the_door,0
1,1,vp1/run1b_2018-05-29-14-02-47.ids_1,1,117,166,closing_door_outside,0
2,1,vp1/run1b_2018-05-29-14-02-47.ids_1,2,168,205,standing_by_the_door,0
3,1,vp1/run1b_2018-05-29-14-02-47.ids_1,3,205,262,opening_door_outside,0
4,1,vp1/run1b_2018-05-29-14-02-47.ids_1,4,262,314,entering_car,0
...,...,...,...,...,...,...,...
362,1,vp1/run1b_2018-05-29-14-02-47.ids_1,141,37546,37576,unfastening_seat_belt,1
363,1,vp1/run1b_2018-05-29-14-02-47.ids_1,142,37576,37624,opening_door_inside,0
364,1,vp1/run1b_2018-05-29-14-02-47.ids_1,143,37624,37694,exiting_car,0
365,1,vp1/run1b_2018-05-29-14-02-47.ids_1,144,37694,37740,closing_door_outside,0
366,1,vp1/run1b_2018-05-29-14-02-47.ids_1,145,37740,37785,standing_by_the_door,0